
<main>
    <div class="mn">
        <h3>Herbário Instituto Federal</h3>
        <span uk-icon="user" class="icon"></span>
    </div>
    <ul>
        <li>
            <a href="" class="">Início</a>
        </li>
        <li>
            <a href="" class="">Nomes</a>
        </li>
        <li class="drop1">
            <a href="" class="mais">Spécimens ▼</a>
            <div class="dropbar1">
                <a href="">Eventos de coleção</a>
                <a href="">Coleções</a>
                <a href="">Espécimes</a>
            </div>
        </li>
        <li>
            <a href="" class="">Referências</a>
        </li>
        <li>
            <a href="" class="">Projetos</a>
        </li>
        <li>
            <a href="" class="">Imagens</a>
        </li>
        <li class="drop2">
            <a href="" class="mais">Mais ▼</a>
            <div class="dropbar2">
                <a href="">Publicações</a>
                <a href="">Localizações</a>
                <a href="">Instituição</a>
            </div>
        </li>
        <li class="drop3">
            <a href="" class="mais">Ferramentas ▼</a>
            <div class="dropbar3">
                <a href="">Exemplo1</a>
                <a href="">Exemplo2</a>
                <a href="">Exemplo3</a>
            </div>
        </li>
        <li class="drop4">
            <a href="" class="mais">Ajuda ▼</a>
            <div class="dropbar4">
                <a href="">Exemplo1</a>
                <a href="">Exemplo2</a>
                <a href="">Exemplo3</a>
            </div>
        </li>
    </ul>
</main>